
    #giftkimaye{
      margin: auto;
      width: 95%;
      height: auto;
      /* border: 2px solid black; */
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(auto,auto);
      gap: 10px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    #giftkimaye>div>img{
      width: 100%;
      border-radius: 20px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    }
    #giftkimaye>div>button{
      background-color:#437111 ;
      color: #ebf0e6;
      width: 99%;
      height: 50px;
      font-size: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }


    /* #fruitsdiv>div>button :hover {
      color: red;
    } */
    #giftkimaye>div{
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: center;
      align-content: center;
      /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
      /* border-radius: 20px; */
    }
   